@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
  logs: true;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* 
 * Include app + component library classes
 * IMPORTANT: These @source directives ensure that Tailwind CSS scans both the app 
 * and the component library for classes. Without them, styles used only by the 
 * component library but not directly in this app may be purged during the build,
 * causing styling issues with components.
 */
@source "./**/*.{ts,tsx}";
@source "../node_modules/@featherstudio/react-daisyui-kit/**/*.{js,ts,tsx}";

:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: hsl(var(--b1));
  color: hsl(var(--bc));
  font-family: Arial, Helvetica, sans-serif;
}
